*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: #2C3A47;
    --textb: #FFF;
    --text2: #F97F51;
    --text3: #EAB543;
    --background: #25CCF7;
    --background2: #1B9CFC;
    --background3: #cfcfcf;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background3);
    overflow-x: hidden;
}
/*-----------------------------HEADE STARD--------------------------------------*/
header{
    width: 100%;
    height: 80px;
    background-color: var(--background2);
    padding: 10px 50px;
    position: sticky;
    display: flex;
    z-index: 1000;
    top: 0;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 5px rgba(37, 37, 37, .5);
}
.logo{
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--text);
}
.nev a{
    text-decoration: none;
    color: #FFF;
    padding: 30px 15px;
}
.nev a:hover{
    background-color: var(--background);
}
#button{
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #FFF;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: #FFF;
    text-decoration: none;
}
#button:hover{
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 3px 1px black;
}
.NEV_BTN{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    transition: all 1s linear;
    cursor: pointer;
}
.NEV_BTN:active{
    width: 10px;
    height: 10px;
}
.bar{
    width: 100%;
    height: 3px;
    border-radius: 15px;
    background-color: #fff;
} 
/*-----------------------------HEADE END--------------------------------------*/
/*--------------------------------Product stard--------------------------------*/
.product{
    margin: auto;
    width: 100vw;
    min-height: 400px;
    margin: 20px 0 20px 0;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product div{
    width: 400px;
    min-height: 300px;
    border: 1px solid black;
}
/*--------------------------------Product end--------------------------------*/
/*-----------------------------FOOTER STARD--------------------------------------*/
footer{
    width: 100vw;
    min-height: 400px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    font-size: 1rem;
    background-color: rgb(37, 37, 37);
}
.fcontend{
    width: 100vw;
    min-height: 370px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.AboutAs{
    min-height: 330px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SocialMedia{
    min-height: 330px;
    width: 600px;
}
.fanger{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fanger a{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 23px 44px;
    margin-top: 20px;
}
.fanger a:hover{
    background-color: black;
    color: var(--background);
}
.fcontend p{
    margin: auto;
    text-align: center;
}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media h1{
    color: var(--background);
    margin: 20px 0;
    letter-spacing: 2px;
}
.media ul{
    list-style: none;
    margin: 20px 0;
}
.media ul li{
    margin: 10px 0;
}
.flink li a{
    text-decoration: none;
    margin-left: 80px;
    text-align: left;
    color: #FFF;
    font-size: 1.1rem;
}
.flink li a:hover{
    color: var(--background2);
}
/*-----------------------------FOOTER END--------------------------------------*/
/*-----------------------------900px display stard----------------------------*/
@media (max-width:900px){
    
    .NEV_BTN{
        display: flex;
    }
    .nev{
        position: absolute;
        left: 0;
        top: 80px;
        display: none;
        flex-direction: column;
        z-index: 100;
        width: 80vw;
        height: 100vh;
        background-color: var(--background2)
    }
    .nev a{
        padding: 25px 15px;

    }
    .nev.active{
        display: flex;
    }
    header button{
        position: relative;
        right: -60px;
    }
}
@media (max-width:400px){

}

/*-----------------------------900px display end--------------------------------------*/